<div class="container mt-4">
  <!--<h2>Pesquisa de Alimentos</h2>
  <div class="mb-3">
    <input type="text" class="form-control"
           placeholder="Digite um alimento"
           [(ngModel)]="searchTerm"
           (keyup.enter)="searchFood()">
    <button class="btn btn-primary mt-2" (click)="searchFood()">Pesquisar</button>
  </div>

  <div *ngIf="loading" class="text-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Carregando...</span>
    </div>
  </div>-->

  <div *ngIf="results && results.length > 0" class="mt-4">
    <!--<h3>Resultados:</h3>-->
    <h3>Lista de Alimentos:</h3>
    <div class="list-group">
      <div *ngFor="let food of results" class="list-group-item">
        <h5>{{ food.name }}</h5>
        <p>Categoria: {{ food.category?.name || 'N/A' }}</p>
        <p>Energia: {{ food.nutrients?.kJ || 'N/A' }} kcal</p>
        <p>Calorias: {{ food.nutrients?.kcal || 'N/A' }} kcal</p>
        <p>Proteína: {{ food.nutrients?.protein || 'N/A' }} g</p>
        <p>Carboidratos: {{ food.nutrients?.carbohydrates || 'N/A' }} g</p>
        <p>Gordura: {{ food.nutrients?.lipids || 'N/A' }} g</p>
        <p>Fibras: {{ food.nutrients?.dietaryFiber  || 'N/A' }} g</p>
      </div>
    </div>
  </div>

  <div *ngIf="results?.length === 0 && !loading" class="alert alert-info mt-3">
    Nenhum alimento encontrado.
  </div>

  <div *ngIf="error" class="alert alert-danger mt-3">
    {{ error }}
  </div>
</div>
