<div class="container pt-5" data-testid="register-container">
  <div class="row justify-content-center">
    <div class="col-md-6" style="min-width: 320px">
      <div class="card border-0 shadow radius">
        <div class="card-body bg-bege-contrast radius w-100">
          <h2 class="text-center mb-4">Registar</h2>
          <form (ngSubmit)="onRegister()" #registerForm="ngForm">
            <!-- Email -->
            <div class="mb-3">
              <label for="email" class="w-100 text-start form-label"
                >Email:</label
              >
              <input
                type="email"
                id="email"
                name="email"
                class="form-control bg-bege"
                [ngClass]="{
                  'is-invalid': emailInput.invalid && emailInput.touched,
                  'is-valid': emailInput.valid && emailInput.touched
                }"
                [(ngModel)]="email"
                placeholder="Introduza o seu email"
                required
                pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                #emailInput="ngModel"
                data-testid="user-email"
              />
              <!-- Mensagem de erro -->
              <div
                *ngIf="emailInput.invalid && emailInput.touched"
                class="text-danger"
              >
                <small *ngIf="emailInput.errors?.['required']"
                  >Preencha o email</small
                >
                <small *ngIf="emailInput.errors?.['pattern']"
                  >Formato errado de email</small
                >
              </div>
              <!-- Mensagem de sucesso -->
              <div
                *ngIf="emailInput.valid && emailInput.touched"
                class="text-success"
              >
                <small>Email com formato correto</small>
              </div>
            </div>
            <!-- Password -->
            <div class="mb-3">
              <label for="password" class="w-100 text-start form-label"
                >Password:</label
              >
              <input
                [type]="showPassword ? 'text' : 'password'"
                id="password"
                name="password"
                class="form-control bg-bege"
                [ngClass]="{
                  'is-invalid': !isPasswordValid && passwordInput.touched,
                  'is-valid': isPasswordValid && passwordInput.touched
                }"
                [(ngModel)]="password"
                required
                placeholder="Insira a sua password"
                minlength="8"
                #passwordInput="ngModel"
                (input)="validatePassword()"
                data-testid="user-password"
              />
              <!-- Mensagem de erro -->
              <div *ngIf="!isPasswordValid && passwordInput.touched" class="text-danger">
                <small *ngIf="passwordInput.errors?.['required']">
                  Preencha a password
                </small>
                <small *ngIf="passwordErrorMessage">{{ passwordErrorMessage }}</small>
              </div>
              <!-- Mensagem de sucesso -->
              <div *ngIf="isPasswordValid" class="text-success">
                <small>password correta</small>
              </div>
            </div>
            <!-- Confirm Password -->
            <div class="mb-3">
              <label for="confirmPassword" class="w-100 text-start form-label">
                Confirm Password:
              </label>
              <input
                [type]="showPassword ? 'text' : 'password'"
                id="confirmPassword"
                name="confirmPassword"
                class="form-control bg-bege"
                [ngClass]="{
                  'is-invalid':
                    (!isPasswordValid || confirmPasswordInput.invalid || password !== confirmPassword) && confirmPasswordInput.touched,
                  'is-valid':
                    isPasswordValid && confirmPasswordInput.valid && password === confirmPassword && confirmPasswordInput.touched
                }"
                placeholder="Confirme a sua password"
                [(ngModel)]="confirmPassword"
                required
                minlength="8"
                #confirmPasswordInput="ngModel"
                data-testid="confirm-password"
              />
              <!-- Mensagem de erro -->
              <div
                *ngIf="confirmPasswordInput.invalid && confirmPasswordInput.touched"
                class="mx-0 text-danger d-flex flex-column"
              >
                <small class="mx-0" *ngIf="confirmPasswordInput.errors?.['required']">
                  Confirme a password
                </small>
                <small class="mx-0" *ngIf="password !== confirmPassword" >
                  Passwords não correspondem
                </small>
              </div>
              <!-- Mensagem de sucesso -->
              <div
                *ngIf="
                  password && confirmPassword &&
                  password === confirmPassword &&
                  confirmPasswordInput.touched
                "
                class="text-success"
              >
                <small> Passwords match! </small>
              </div>
            </div>
            <div class="position-relative mb-3">
              <span style="font-size: 0.8rem">Mostrar password: </span>
              <button
                type="button"
                class="btn position-absolute top-50 end-0 translate-middle-y"
                (click)="togglePasswordVisibility()"
                *ngIf="showPassword"
              >
                <img
                  src="../../../assets/svgs/show-password.svg"
                  alt="mostrar-password"
                />
              </button>
              <button
                type="button"
                class="btn position-absolute top-50 end-0 translate-middle-y"
                (click)="togglePasswordVisibility()"
                *ngIf="!showPassword"
              >
                <img
                  src="../../../assets/svgs/hide-password.svg"
                  alt="esconder-password"
                />
              </button>
            </div>
            <!-- Error Message -->
            <div *ngIf="errorMessage" class="alert alert-danger">
              {{ errorMessage }}
            </div>
            <!-- Submit Button -->
            <div class="container d-flex flex-row gap-4">
              <button type="submit" [disabled]="!email || !password || !confirmPassword" class="btn bg-verde w-100" data-testid="bt-register">Registar</button>
              <button type="reset" class="btn bg-vermelho w-100">Apagar</button>
            </div>
          </form>
          <div class="text-center mt-3">
            <small>
              Já tem conta?
              <a routerLink="/login" class="text-primary" data-testid="bt-login">login</a>
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
