header{
    top: 0;
    height: 80px !important;
}

.burger-icon {
    display: none !important;
}

.burger-icon button {
  background: none;
  outline: none;
  border: none;
}

@media (max-width: 500px) {
  .burger-icon {
    display: block !important;
  }
}
