
<div class="help-container">
  <help helpText="Nesta página pode gerir o seu inventário de ingredientes.
                  Pode adicionar novos ingredientes, editar a quantidade e unidade dos itens já existentes, ou removê-los do inventário.
                  Também é possível visualizar as informações nutricionais correspondentes à quantidade inserida de cada ingrediente.
                  Utilize as opções disponíveis para manter o seu inventário sempre atualizado." />
</div>
<br />
<br />

<div class="container align-items-start mx-0" data-testid="inventory-container">
  <!-- Sidebar -->
  <div class="sidebar shadow">
    <div class="search-bar">
      <input class="rounded"
             type="text"
             placeholder="Pesquisar"
             [(ngModel)]="searchTerm"
             (input)="onSearchChange()" data-testid="search-input"/>
      <span class="search-icon">🔍</span>
    </div>

    <hr *ngIf="filteredItems.length > 0" style="margin-top: 0" />
    <button class="add-button" (click)="addItemsToInventory()" data-testid="add-item-bt">
      <span class="add-text"> Adicionar </span>
      <span class="add-icon">➕</span>
    </button>
    <hr *ngIf="filteredItems.length > 0"/>

    <ul class="item-list" *ngIf="filteredItems.length > 0" data-testid="item-list">
      <li *ngFor="let item of filteredItems"
          [class.selected]="selectedItems.has(item)"
          (click)="toggleSelection(item)"
          data-testid="item"
          >
        {{ item }}
      </li>
    </ul>
  </div>

  <!-- Inventory Table -->
  <div class="inventory-table justify-self-start">
    <table class="shadow">
      <thead>
        <tr>
          <th class="small-col"></th>
          <th class="small-col">
            <input type="checkbox"
                   [checked]="selectedItemsInInventory.size === inventory.size"
                   (change)="toggleAllInventorySelection()" />
          </th>
          <th class="large-col">Nome</th>
          <th class="small-col">Quantidade</th>
        </tr>
      </thead>
      <tbody *ngIf="inventory.size > 0; else emptyInventory" data-testid="inventory-table">
        <ng-container *ngFor="let item of inventory | mapKeys">
          <tr data-testid="inventory-item">
            <td class="d-flex align-items-center justify-content-center"
                (click)="toggleDetails(item)">
              <img *ngIf="expandedItems.has(item)"
                   src="../../assets/svgs/expand.svg"
                   alt="expanded-arrow"
                   style="
                  margin: 0;
                  transform: rotate(90deg);
                  width: 20px;
                  height: 20px;
                " />
              <img *ngIf="!expandedItems.has(item)"
                   src="../../assets/svgs/expand.svg"
                   alt="expanded-arrow"
                   style="margin: 0; width: 20px; height: 20px" />
            </td>

            <td data-testid="check-item">
              <input type="checkbox"
                     [checked]="selectedItemsInInventory.has(item)"
                     (change)="toggleInventorySelection(item)" />
            </td>

            <td class="item-name" data-testid="item-name">{{ item }}</td>

            <td class="item-quantity">
              <input type="number"
                     class="quantity-input"
                     [value]="inventory.get(item)?.quantity || 0"
                     (input)="updateQuantity(item, $event)"
                     min="0"
                     data-testid="item-quantity"/>
              <select name="unitsSelect"
                      id="unitsSelect"
                      [ngModel]="getUnit(item)"
                      (input)="updateUnit(item, $event)"
                      data-testid="item-weight-list">
                <option value=""></option>
                <option *ngFor="let opt of units" value="{{ opt }}">
                  {{ opt }}
                </option>
              </select>
            </td>
          </tr>
          <tr *ngIf="expandedItems.has(item)">
            <td colspan="4">
              <div class="item-details bg-bege rounded">
                <p *ngIf="!itemDetails.has(item)">A carregar...</p>
                <ng-container *ngIf="itemDetails.has(item)">
                  <p>
                    <strong>Nome:</strong> {{ itemDetails.get(item)?.name }}
                  </p>
                  <p>
                    <strong>Categoria:</strong>
                    {{ itemDetails.get(item)?.category }}
                  </p>
                  <p>
                    <strong>Kcal/KJ:</strong>
                    {{ itemDetails.get(item)?.kcal }} /
                    {{ itemDetails.get(item)?.kj }}
                  </p>
                  <p><strong>Macronutrientes:</strong></p>
                  <ul *ngIf="inventory.get(item)?.unit"
                      style="list-style: none; margin: 0; padding: 0">
                    <li style="
                        max-width: 400px;
                        display: flex;
                        flex-direction: column;
                        margin: 0;
                        align-items: center;
                        justify-items: start;
                      ">
                      <div style="
                          width: 100%;
                          margin: 0;
                          display: flex;
                          justify-content: space-between;
                        ">
                        <span class="mx-0">Proteína</span>
                        <span class="mx-0">
                          {{
 itemDetails.get(item)?.protein
                          }}{{ inventory.get(item)?.unit }}
                        </span>
                      </div>
                      <progress class="pg-protaina"
                                value="{{ itemDetails.get(item)?.protein }}"
                                max="{{ getProgress(item) }}"></progress>
                    </li>
                    <li style="
                        max-width: 400px;
                        display: flex;
                        flex-direction: column;
                        margin: 0;
                        align-items: center;
                        justify-items: start;
                      ">
                      <div style="
                          width: 100%;
                          margin: 0;
                          display: flex;
                          justify-content: space-between;
                        ">
                        <span class="mx-0">Carbo Hidratos</span>
                        <span class="mx-0">
                          {{
 itemDetails.get(item)?.carbohydrates
                          }}{{ inventory.get(item)?.unit }}
                        </span>
                      </div>
                      <progress class="pg-hidratos"
                                value="{{ itemDetails.get(item)?.carbohydrates }}"
                                max="{{ getProgress(item) }}"></progress>
                    </li>
                    <li style="
                        max-width: 400px;
                        display: flex;
                        flex-direction: column;
                        margin: 0;
                        align-items: center;
                        justify-items: start;
                      ">
                      <div style="
                          width: 100%;
                          margin: 0;
                          display: flex;
                          justify-content: space-between;
                        ">
                        <span class="mx-0">Lipidos</span>
                        <span class="mx-0">
                          {{
 itemDetails.get(item)?.lipids
                          }}{{ inventory.get(item)?.unit }}
                        </span>
                      </div>
                      <progress class="pg-lipidos"
                                value="{{ itemDetails.get(item)?.lipids }}"
                                max="{{ getProgress(item) }}"></progress>
                    </li>
                    <li style="
                        max-width: 400px;
                        display: flex;
                        flex-direction: column;
                        margin: 0;
                        align-items: center;
                        justify-items: start;
                      ">
                      <div style="
                          width: 100%;
                          margin: 0;
                          display: flex;
                          justify-content: space-between;
                        ">
                        <span class="mx-0">Fibras</span>
                        <span class="mx-0">
                          {{
 itemDetails.get(item)?.fibers
                          }}{{ inventory.get(item)?.unit }}
                        </span>
                      </div>
                      <progress class="pg-fibras"
                                value="{{ itemDetails.get(item)?.fibers }}"
                                max="{{ getProgress(item) }}"></progress>
                    </li>
                  </ul>
                </ng-container>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
      <ng-template #emptyInventory>
        <tbody data-testid="inventory-table">
          <tr data-testid="empty-row">
            <td colspan="4" class="empty-message">O inventário está vazio.</td>
          </tr>
        </tbody>
      </ng-template>
    </table>
    <div class="buttons-container">
      <button class="update-button" (click)="checkForEmptyItems()">
        Atualizar Inventário
      </button>
      <button class="delete-button" (click)="openModal('deleteModal')" [disabled]="selectedItemsInInventory.size === 0"
              data-testid="delete-modal">
        Excluir <span class="trash-icon">🗑️</span>
      </button>
    </div>
    <div class="modal fade"
         id="deleteModal"
         tabindex="-1"
         aria-labelledby="deleteModalLabel"
         aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Confirmação</h5>
          </div>
          <div class="modal-body">
            Tem a certeza que deseja eliminar os itens selecionados?
          </div>
          <div class="modal-footer">
            <button type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal">
              Cancelar
            </button>
            <button type="button"
                    class="btn btn-danger"
                    (click)="removeItemFromInventory(null)"
                    data-bs-dismiss="modal"
                    data-testid="delete-bt">
              Eliminar
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="deleteZeroQuantityModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Remover Itens?</h5>
          </div>
          <div class="modal-body">
            Alguns itens têm a quantidade de 0. Gostaria de removê-los antes de
            atualizar o inventário?
          </div>
          <div class="modal-footer">
            <button type="button"
                    class="btn btn-secondary"
                    (click)="updateItemsInInventory()"
                    data-bs-dismiss="modal">
              Não
            </button>
            <button type="button"
                    class="btn btn-danger"
                    (click)="updateItemsInInventory(true)"
                    data-bs-dismiss="modal">
              Sim, Remover
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
