a.nav-link.text-dark {
  cursor: pointer;
}

/*aside {
    max-width: 300px;
}*/

@media (max-width: 500px) {
  .collapsed {
      max-width: 300px;
  }

  .expanded {
      min-width: 100vw !important;
      overflow-x: hidden;
  }
}
