<aside
  id="navbar"
  class="d-flex flex-column bg-bege-contrast p-2 shadow m-0"
  style="
    max-width: 300px;
    min-height: calc(100vh - 80px);
    position: fixed;
    top: 80px;
    z-index: 100;
  "
>
  <nav
    class="d-flex flex-column align-items-start justify-content-between m-0 gap-2 flex-grow-1"
  >
    <div class="d-flex w-100 align-items-center gap-3 m-0">
      <!-- profile pic -->
      <img
        [src]="picture ? picture : 'https://www.w3schools.com/howto/img_avatar.png'"
        alt="user-profile-image"
        style="width: 24px; height: 24px; border-radius: 100%"
        class="m-0"
      />
      <p *ngIf="isExpanded" class="m-0" style="flex-wrap: wrap">
        <!-- user name/email -->
        {{ this?.username ?? "User" }}
      </p>
    </div>

    <div class="m-0 bg-transparent rounded" style="width: 100%">
      <button
        id="nav-item"
        class="rounded"
        (click)="toggle()"
        style="width: 100%; border: none"
      >
        <img
          *ngIf="!isExpanded"
          src="../../assets/svgs/expand.svg"
          alt="expand-icon"
          class="rounded"
          style="width: 20px; height: 20px"
        />
        <img
          *ngIf="isExpanded"
          src="../../assets/svgs/expand.svg"
          alt="expand-icon"
          class="rounded"
          style="width: 20px; height: 20px; transform: rotate(180deg)"
        />
      </button>
    </div>

    <div class="d-flex flex-column flex-grow-1 gap-2">
      <!-- links -->
      <article
        id="nav-item"
        *ngFor="let link of links"
        class="d-flex flex-row align-items-center justify-content-start gap-3 m-0 p-2 rounded"
        title="{{ link.text }}"
      >
        <!-- icon -->
        <div class="m-0">
          <a
            *ngIf="!isExpanded"
            [routerLink]="link.path"
            class="text-start nav-link"
            style="flex-wrap: wrap; cursor: pointer"
          >
            <img
              src="{{ link.icon }}"
              alt="{{ link.text }}"
              style="width: 24px; height: 24px"
            />
          </a>
          <img
            *ngIf="isExpanded"
            src="{{ link.icon }}"
            alt="{{ link.text }}"
            style="width: 24px; height: 24px"
          />
        </div>
        <!-- actual link -->
        <span *ngIf="isExpanded" class="m-0">
          <a
            [routerLink]="link.path"
            class="text-start nav-link"
            style="flex-wrap: wrap"
            >{{ link.text }}
          </a>
        </span>
      </article>
    </div>

    <div class="d-flex flex-column w-100 gap-2 m-0">
      <!-- links -->
      <article
        id="nav-item"
        *ngFor="let link of commandLinks"
        class="d-flex flex-row align-items-center justify-content-start gap-3 m-0 p-2 rounded"
        title="{{ link.text }}"
      >
        <!-- icon -->
        <div class="m-0">
          <a
            *ngIf="!isExpanded"
            [routerLink]="link.path"
            class="text-start nav-link"
            style="width: 100%; flex-wrap: wrap; cursor: pointer"
          >
            <img
              src="{{ link.icon }}"
              alt="{{ link.text }}"
              style="width: 24px; height: 24px"
            />
          </a>
          <img
            *ngIf="isExpanded"
            src="{{ link.icon }}"
            alt="{{ link.text }}"
            style="width: 24px; height: 24px"
          />
        </div>
        <!-- actual link -->
        <span
          *ngIf="isExpanded"
          class="m-0"
          style="width: 100%; flex-grow: 1; cursor: pointer"
        >
          <a
            [routerLink]="link.path"
            class="text-start nav-link"
            style="width: 100%; flex-grow: 1; cursor: pointer"
          >
            {{ link.text }}</a
          >
        </span>
      </article>
    </div>
  </nav>
</aside>
