<aside
  id="navbar"
  class="d-flex flex-column bg-bege-contrast position-absolute p-2 shadow"
  style="max-width: 300px; min-height: calc(100vh - 80px)"
>
  <nav
    class="d-flex flex-column align-items-start justify-content-between m-0 flex-grow-1"
  >
    <div class="d-flex w-100 align-items-center gap-3 m-0">
      <!-- profile pic -->
      <img
        src=""
        alt="user-profile-image"
        style="width: 24px; height: 24px; border-radius: 100%"
        class="m-0"
      />
      <p *ngIf="isExpanded" class="m-0" style="flex-wrap: wrap">
        <!-- user name/email -->
        Armindo Costa
      </p>
    </div>

    <div class="my-2">
      <button class="bg-transparent" (click)="toggle()" style="border: 0">
        <img
          *ngIf="!isExpanded"
          src="../../assets/svgs/expand.svg"
          alt="expand-icon"
          class="rounded"
          style="width: 20px; height: 20px"
        />
        <img
          *ngIf="isExpanded"
          src="../../assets/svgs/expand.svg"
          alt="expand-icon"
          class="rounded"
          style="width: 20px; height: 20px; transform: rotate(180deg)"
        />
      </button>
    </div>

    <div class="d-flex flex-column flex-grow-1 gap-4">
      <!-- links -->
      <article
        *ngFor="let link of links"
        class="d-flex flex-row align-items-center justify-content-start gap-3 m-0"
      >
        <!-- icon -->
        <div class="m-0">
          <a
            *ngIf="!isExpanded"
            href="{{ link.path }}"
            class="text-start"
            style="flex-wrap: wrap; cursor: pointer"
          >
            <img
              src="{{ link.icon }}"
              alt="{{ link.text }}"
              style="width: 24px; height: 24px"
            />
          </a>
          <img
            *ngIf="isExpanded"
            src="{{ link.icon }}"
            alt="{{ link.text }}"
            style="width: 24px; height: 24px"
          />
        </div>
        <!-- actual link -->
        <span *ngIf="isExpanded" class="m-0">
          <a href="{{ link.path }}" class="text-start" style="flex-wrap: wrap"
            >{{ link.text }}
          </a>
        </span>
      </article>
    </div>

    <div class="d-flex flex-column w-100 gap-2 m-0">
      <!-- links -->
      <article
        *ngFor="let link of commandLinks"
        class="d-flex flex-row align-items-center justify-content-start gap-3 m-0"
      >
        <!-- icon -->
        <div class="m-0">
          <a
            *ngIf="!isExpanded"
            href="{{ link.path }}"
            class="text-start"
            style="flex-wrap: wrap; cursor: pointer"
          >
            <img
              src="{{ link.icon }}"
              alt="{{ link.text }}"
              style="width: 24px; height: 24px"
            />
          </a>
          <img
            *ngIf="isExpanded"
            src="{{ link.icon }}"
            alt="{{ link.text }}"
            style="width: 24px; height: 24px"
          />
        </div>
        <!-- actual link -->
        <span *ngIf="isExpanded" class="m-0" style="cursor: pointer">
          <a
            href="{{ link.path }}"
            class="text-start"
            style="cursor: pointer"
            >{{ link.text }}</a
          >
        </span>
      </article>
    </div>
  </nav>
</aside>
