<div class="recipe-list">
  <h2>Lista de Receitas</h2>
  <ul>
    <li *ngFor="let meal of mealsList">
      <img [src]="meal.strMealThumb" [alt]="meal.strMeal">
      <h3>{{ meal.strMeal }}</h3>
      <p><strong>Categoria:</strong> {{ meal.strCategory }}</p>
      <p><strong>Área:</strong> {{ meal.strArea }}</p>
      <a *ngIf="meal.strYoutube" [href]="meal.strYoutube" target="_blank">Ver no YouTube</a>

      <h4>Ingredientes:</h4>
      <ul>
        <li *ngFor="let item of getIngredients(meal)">
          {{ item.measure }} {{ item.ingredient }}
        </li>
      </ul>

      <h4>Instruções:</h4>
      <p>{{ meal.strInstructions }}</p>
    </li>
  </ul>
</div>
