<div class="container pt-5">
  <div class="row justify-content-center">
    <div class="col-md-6" style="min-width: 320px">
      <div class="card border-0 shadow radius">
        <div class="card-body bg-bege-contrast radius w-100">
          <h2 class="text-center mb-4">Reset Password</h2>
          <form (ngSubmit)="onReset()">
            <!-- New Password -->
            <div class="mb-3">
              <label for="newPassword" class="w-100 text-start form-label"> New Password: </label>
              <input [type]="showPassword ? 'text' : 'password'"
                     id="newPassword"
                     name="newPassword"
                     class="form-control bg-bege"
                     [ngClass]="{
                  'is-invalid': !isPasswordValid && newPasswordInput.touched,
                  'is-valid': isPasswordValid && newPasswordInput.touched
                }"
                     [(ngModel)]="newPassword"
                     required
                     placeholder="Enter the new password"
                     minlength="8"
                     #newPasswordInput="ngModel"
                     (input)="validateNewPassword()" />

              <!-- Mensagem de erro -->
              <div *ngIf="!isPasswordValid && newPasswordInput.touched" class="text-danger">
                <small *ngIf="newPasswordInput.errors?.['required']">
                  Password is required.
                </small>
                <small *ngIf="passwordErrorMessage">{{ passwordErrorMessage }}</small>
              </div>
              <!-- Mensagem de sucesso -->
              <div *ngIf="isPasswordValid" class="text-success">
                <small>New Password is Valide!</small>
              </div>
            </div>

            <!-- Confirm New Password -->
            <div class="mb-3">
              <label for="repeatPassword" class="w-100 text-start form-label">
                Confirm Password:
              </label>
              <input
                [type]="showPassword ? 'text' : 'password'"
                id="repeatPassword"
                name="repeatPassword"
                class="form-control bg-bege"
                [ngClass]="{
                  'is-invalid':
                    repeatPasswordInput.invalid && repeatPasswordInput.touched,
                  'is-valid':
                    repeatPasswordInput.valid && repeatPasswordInput.touched
                }"
                placeholder="Confirm new password"
                [(ngModel)]="repeatPassword"
                required
                minlength="8"
                #repeatPasswordInput="ngModel"
                />
              <!-- Mensagem de erro -->
              <div *ngIf="repeatPasswordInput.invalid && repeatPasswordInput.touched"
                   class="text-danger">
                <small *ngIf="newPasswordInput.errors?.['required']">
                  Password is required.
                </small>
                <small *ngIf="repeatPasswordInput.touched && newPassword !== repeatPassword">
                  Passwords do not match.
                </small>
              </div>
              <!-- Mensagem de sucesso -->
              <div
                *ngIf="
                  newPassword &&
                  repeatPassword &&
                  newPassword === repeatPassword &&
                  repeatPasswordInput.touched
                "
                class="text-success"
              >
                <small> Passwords match! </small>
              </div>
            </div>

            <div class="position-relative mb-3">
              <span style="font-size: 0.8rem">Show password: </span>
              <button
                type="button"
                class="btn position-absolute top-50 end-0 translate-middle-y"
                (click)="togglePasswordVisibility()"
                *ngIf="showPassword"
              >
                <img
                  src="../../../assets/svgs/show-password.svg"
                  alt=""
                  srcset=""
                />
              </button>
              <button
                type="button"
                class="btn position-absolute top-50 end-0 translate-middle-y"
                (click)="togglePasswordVisibility()"
                *ngIf="!showPassword"
              >
                <img
                  src="../../../assets/svgs/hide-password.svg"
                  alt=""
                  srcset=""
                />
              </button>
            </div>

            <!-- Error Message -->
            <div *ngIf="errorMessage" class="alert alert-danger">
              {{ errorMessage }}
            </div>

            <!-- Submit Button -->
            <div class="container d-flex flex-row gap-4">
              <button type="submit" class="btn bg-verde w-100" [disabled]="!isPasswordValid || repeatPassword !== newPassword">
                Reset password
              </button>
              <button type="reset" class="btn bg-vermelho w-100">
                Clear Form
              </button>
            </div>
          </form>
          <div class="text-center mt-3">
            <small>
              Already have an account?
              <a routerLink="/login" class="text-primary">Login here</a>.
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
