<div class="container pt-5 mx-0">
  <div class="row justify-content-center">
    <div class="col-md-6" style="min-width: 320px">
      <div class="card border-0 shadow radius">
        <div class="card-body bg-bege-contrast radius w-100">
          <h2 class="text-center mb-4">Login</h2>
          <!-- foto de site -->
          <form (ngSubmit)="onLogin()">
            <div class="mb-3">
              <label for="email" class="w-100 text-start form-label">
                Email: user&#64;example.com
              </label>
              <input
                type="email"
                id="email"
                [(ngModel)]="email"
                name="email"
                class="form-control bg-bege"
                placeholder="Enter your email"
                required
              />
            </div>
            <div class="mb-3">
              <label for="password" class="w-100 form-label text-start">
                Password: UserPass123!
              </label>
              <div class="position-relative">
                <input
                  [type]="showPassword ? 'text' : 'password'"
                  id="password"
                  [(ngModel)]="password"
                  name="password"
                  class="form-control bg-bege position-relative"
                  placeholder="Enter your password"
                  required
                />
                <button
                  type="button"
                  class="btn position-absolute top-50 end-0 translate-middle-y"
                  (click)="togglePasswordVisibility()"
                  *ngIf="showPassword"
                >
                  <img
                    src="../../../assets/svgs/show-password.svg"
                    alt=""
                    srcset=""
                  />
                </button>
                <button
                  type="button"
                  class="btn position-absolute top-50 end-0 translate-middle-y"
                  (click)="togglePasswordVisibility()"
                  *ngIf="!showPassword"
                >
                  <img
                    src="../../../assets/svgs/hide-password.svg"
                    alt=""
                    srcset=""
                  />
                </button>
              </div>
            </div>
            <div *ngIf="errorMessage" class="alert bg-vermelho" role="alert">
              {{ errorMessage }}
            </div>
            <div
              id="google-signin"
              class="mb-3 d-flex align-items-center justify-content-center"
            ></div>
            <div class="container d-flex flex-row gap-4">
              <button type="submit" class="btn bg-verde w-100">Login</button>
              <button type="reset" class="btn bg-vermelho w-100">Reset</button>
            </div>
          </form>
          <div class="text-center mt-3">
            <small>
              Don't have an account?
              <a routerLink="/register">Register here</a>
            </small>
            <div>
              <a routerLink="/recover-password">teste recover</a>
              <a routerLink="/reset-password">teste reset</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
