<div class="container pt-5" data-testid="login-container">
  <div class="row justify-content-center">
    <div class="col-md-6" style="min-width: 320px">
      <div class="card border-0 shadow radius">
        <div class="card-body bg-bege-contrast radius w-100">
          <h2 class="text-center mb-4">Login</h2>
          <!-- foto de site -->
          <form (ngSubmit)="onLogin()">
            <div class="mb-3">
              <label for="email" class="w-100 text-start form-label">
                Email: user&#64;example.com
              </label>
              <input
                type="email"
                id="email"
                [(ngModel)]="email"
                (ngModelChange)="validateEmail()"
                name="email"
                class="form-control bg-bege"
                placeholder="Introduza o seu email"
                data-testid="user-email"
                required
              />
              <p *ngIf="emailError" class="emailError">{{emailError}}</p>
            </div>
            <div class="mb-3">
              <label for="password" class="w-100 form-label text-start">
                Password: UserPass123!
              </label>
              <div class="position-relative">
                <input
                  [type]="showPassword ? 'text' : 'password'"
                  id="password"
                  [(ngModel)]="password"
                  (ngModelChange)="validatePassword()"
                  name="password"
                  class="form-control bg-bege position-relative"
                  placeholder="Introduza uma palavra-passe"
                  required
                  data-testid="user-password"
                />
                
                <button
                  type="button"
                  class="btn position-absolute top-50 end-0 translate-middle-y"
                  (click)="togglePasswordVisibility()"
                  *ngIf="showPassword"
                >
                  <img
                    src="../../../assets/svgs/show-password.svg"
                    alt=""
                    srcset=""
                  />
                </button>
                <button
                  type="button"
                  class="btn position-absolute top-50 end-0 translate-middle-y"
                  (click)="togglePasswordVisibility()"
                  *ngIf="!showPassword"
                >
                  <img
                    src="../../../assets/svgs/hide-password.svg"
                    alt=""
                    srcset=""
                  />
                </button>
              </div>
              <p *ngIf="passwordError" class="passwordError">{{passwordError}}</p>
            </div>
            <div *ngIf="errorMessage" class="alert bg-vermelho" role="alert">
              {{ errorMessage }}
            </div>
            <div
              id="google-signin"
              class="mb-3 d-flex align-items-center justify-content-center"
              data-testid="bt-google"
            ></div>
            <div class="container d-flex flex-row gap-4">
              <button id="btLogin" type="submit" [disabled]="emailError.length !== 0 || passwordError.length !== 0 && !email || !password" class="btn bg-verde w-100" data-testid="bt-login">Login</button>
              <button type="reset" class="btn bg-vermelho w-100">Reset</button>
            </div>
          </form>
          <div class="text-center mt-3">
            <small>
              Ainda não tem conta?
              <a routerLink="/register" data-testid="bt-register">Registe-se aqui</a>
            </small>
            <div class="d-flex flex-column">
              <small>
                Esqueceu-se da palavra-passe?
                <a routerLink="/recover-password" data-testid="bt-recover">Recupere já</a>
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
