
<div class="container m-5">
  <h3>Área Administrativa!</h3>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <br />
        <button class="btn btn-danger mt-2" (click)="deleteTestUsers()">
          🗑️ Apagar todos os user de teste
        </button>
        <br />
        <button class="btn btn-secondary mt-2" (click)="updateIngredientDb()">
          🔄 Atualizar Ingredientes
        </button>
        <br />
        <button class="btn btn-secondary mt-2" (click)="updateRecipeDb()">
          🔄 Atualizar Receitas
        </button>
        <br />
        <button class="btn btn-danger mt-2" (click)="deleteAllRecipes()">
          🗑️ Apagar Todas as Receitas
        </button>
        <div>
          <p *ngIf="progressMessage">{{ progressMessage }}</p>
        </div>
      </div>
    </div>
  </div>

</div>
