<div class="container pt-5">
  <div class="row justify-content-center">
    <div class="col-md-6" style="min-width: 320px">
      <div class="card border-0 shadow radius">
        <div class="card-body bg-bege-contrast radius w-100">
          <h2 class="text-center mb-4">Recover Password</h2>
          <form (ngSubmit)="onRecover()" (reset)="onReset()">
            <div class="mb-3">
              <label for="email" class="w-100 text-start form-label">
                Email:
              </label>
              <input
                type="email"
                id="email"
                [(ngModel)]="email"
                name="email"
                class="form-control bg-bege"
                placeholder="Enter your email"
                required
              />
            </div>
            <div *ngIf="errorMessage" class="alert bg-vermelho" role="alert">
              {{ errorMessage }}
            </div>
            <div class="container d-flex flex-row gap-4">
              <button type="submit" class="btn bg-verde w-100">Recover</button>
              <button type="reset" class="btn bg-vermelho w-100">Reset</button>
            </div>
          </form>
          <div class="text-center mt-3">
            <small>
              Don't have an account?
              <a routerLink="/register">Register here</a>
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
