<form class="m-0"
      [formGroup]="profileForm"
      (ngSubmit)="updateUser()"
      (keydown.enter)="$event.preventDefault()">

  <container class="m-0">
    <!-- Profile Image -->
    <div class="image-wrapper">
      <profile-image id="image" [imageUrl]="profileForm.get('picture')?.value" [editable]="true" (imageChange)="changePicture($event)" />
    </div>
    <br />
    <!-- Profile Name -->
    <custom-input type="text"
                  id="name"
                  name="Nome:"
                  placeholder="Insira o seu nome"
                  formControlName="name" />
    <small *ngIf="profileForm.get('name')?.invalid && profileForm.get('name')?.touched" class="text-danger">
      Nome inválido.
    </small>
    <br />
    <!-- Profile Email -->
    <custom-input id="email"
                  name="Email:"
                  placeholder="Email"
                  type="email"
                  formControlName="email" />
    <small *ngIf="profileForm.get('email')?.invalid && profileForm.get('email')?.touched" class="text-danger">
      Email inválido.
    </small>
    <br />
    <!-- Profile Birthdate -->
    <custom-input id="birthdate"
                  name="Data de Nascimento:"
                  type="date"
                  formControlName="birthdate" />
    <div *ngIf="profileForm.get('birthdate')?.touched && profileForm.get('birthdate')?.invalid">
      <p class="text-danger" *ngIf="profileForm.get('birthdate')?.errors?.['tooOld']">
        A data é demasiado antiga (máximo 121 anos).
      </p>
      <p class="text-danger" *ngIf="profileForm.get('birthdate')?.errors?.['futureDate']">
        A data não pode ser no futuro.
      </p>
    </div>
    <br />
    <!-- Profile Height -->
    <custom-input id="height"
                  name="Altura:"
                  type="number"
                  formControlName="height" />
    <div *ngIf="profileForm.get('height')?.touched && profileForm.get('height')?.invalid">
      <small class="text-danger" *ngIf="profileForm.get('height')?.errors?.['required']">Altura é obrigatória.</small>
      <small class="text-danger" *ngIf="profileForm.get('height')?.errors?.['min']">Altura mínima é 0.1m.</small>
      <small class="text-danger" *ngIf="profileForm.get('height')?.errors?.['max']">Altura máxima é 3m.</small>
      <small class="text-danger" *ngIf="profileForm.get('height')?.errors?.['pattern']">Valor inválido para altura.</small>
    </div>
    <br />
    <!-- Profile Weight -->
    <custom-input id="weight"
                  name="Peso:"
                  type="number"
                  formControlName="weight"></custom-input>
    <small *ngIf="profileForm.get('weight')?.invalid && profileForm.get('weight')?.touched" class="text-danger">
      Peso inválida. Valor deve estar compreendido entre 0 e 700 quilogramas!
    </small>
    <br />
    <!-- Profile Notifications -->
    <custom-checkbox [checked]="profileForm.get('notifications')?.value"
                     (checkedChange)="changeNotifications($event)"
                     label="Notificações:"
                     id="notifications" />
  </container>

  <!-- Profile Preferences -->
  <container class="m-0">
    <p>Preferências</p>
    <category-selector listId="preferencesList"
                       placeholder="Procure as suas preferências..."
                       [options]="categories"
                       [selectedItems]="preferences"
                       (addItem)="addPreference($event)"
                       (removeItem)="removePreference($event)" />
  </container>

  <!-- Profile Restrictions -->
  <container class="m-0">
    <p>Restrições</p>
    <category-selector listId="restrictionsList"
                       placeholder="Procure as suas restrições..."
                       [options]="categories"
                       [selectedItems]="restrictions"
                       (addItem)="addRestriction($event)"
                       (removeItem)="removeRestriction($event)" />
  </container>

  <div class="buttons">
    <button class="submit-btn" type="submit" [disabled]="profileForm.invalid">Salvar</button>
    <button class="change-password" type="button" (click)="changePassword()">Trocar Palavra-Passe</button>
  </div>
</form>
