* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #FFF8E4;
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

section {
  background-color: #F2E4C1;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 100%;
  max-width: 100%;
}

#userData {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hoverable {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 100px;
  height: 100px;
}

#profileImage {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: filter 0.3s ease-in-out;
}

.hoverable:hover #profileImage {
  filter: brightness(80%);
}

label.hoverable {
  margin: 0px 20px 0px 10px;
}

#fileInput {
  display: none;
}

#userData div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 15px;
}

#extraData {
  align-items: flex-end;
  justify-content: space-between;
}

#extraData img {
  width: 10%;
}

#extraData div {
  display: flex;
  flex-direction: row;
}

#extraData img {
  margin: 0% 0% 20% 20%;
}

#extraData div label {
  margin-right: 10%;
}

#extraData div input {
  margin-right: 5%;
}

#userData input  {
  margin-top: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
}

#userData input[type="button"] {
  background-color: #3B82F6;
  color: #FFFFFF;
  transition: transform 0.2s, background-color 0.2s;
}

  #userData input[type="button"]:hover {
    background-color: #2563EB;
    transform: scale(1.05);
  }

  #userData input[type="button"]:active {
    background-color: #1D4ED8;
    transform: scale(0.95);
  }

#userData input[type="submit"] {
  background-color: #8EB155;
  color: #FFFFFF;
}

#userData input[type="submit"]:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

#userData input[type="submit"]:active {
  background-color: #3e8e41;
  transform: scale(0.95);
}

#userName:hover,
#userEmail:hover {
  cursor: text;
}

#userBirthdate:hover {
  cursor: pointer;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"] {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#userHeight {
  margin-bottom: 10px;
}

section p {
  font-weight: bold;
  margin-bottom: 10px;
}

ul {
  margin-left: 20px;
  list-style: none;
}

ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-right: 80%;
}

ul li label {
  margin-right: 10px;
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

@media (max-width: 1000px) {
  #userData {
    flex-direction: column;
    align-items: center;
  }

  #extraData {
    align-items: flex-start;
  }

  #extraData img {
    display: none;
  }

  #extraData div:last-child {
    justify-content: center;
    width: 100%;
  }
}
