form {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.buttons {
    display: flex;
    justify-content: end;
    width: 90%;
}

.change-password,
.submit-btn {
  margin-left: 5px;
  padding: 5px;
  transition: transform 0.2s, background-color 0.2s;
  border: none;
  border-radius: 10px;
}

.change-password {
  background-color: var(--bg-cinzento);
  color: #ffffff;
}

.change-password:hover {
  background-color: var(--bg-cinzento-contrast);
  transform: scale(1.05);
}

.change-password:active {
  background-color: var(--bg-cinzento-contrast);
  transform: scale(0.95);
}

.submit-btn {
  background-color: var(--bg-verde);
  color: #ffffff;
}

.submit-btn:hover {
  background-color: var(--bg-verde-contrast);
  transform: scale(1.05);
}

.submit-btn:active {
  background-color: var(--bg-verde-contrast);
  transform: scale(0.95);
}

.submit-btn:disabled {
  background-color: gray;
  cursor: not-allowed;
  transform: none !important;
  color: #ccc;
}

.submit-btn:disabled:hover,
.submit-btn:disabled:active {
  background-color: gray;
  transform: none;
}

@media (max-width: 320px) {
  #extraData #extraData-controls {
    flex-direction: column;
    gap: 0.4rem;
  }
}
