<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <title>Profile</title>
</head>
<body>
  <p *ngIf="!user"><em>Loading...</em></p>

  <form *ngIf="user" (ngSubmit)="updateUser()">
    <section id="userData">
      <img id="profileImage" src="" alt="Profile Picture" />
      <div>
        <label for="userName">Name</label>
        <input type="text" id="userName" name="userName" [(ngModel)]="user.name" />
        <label for="userEmail">Email</label>
        <input type="email" id="userEmail" name="userEmail" [(ngModel)]="user.email" required />
        <label for="userBirthdate">Birthdate</label>
        <input type="date" id="userBirthdate" name="userBirthdate" [(ngModel)]="user.birthdate" min="1910-01-01" [max]="todayDate" required />
      </div>
      <div id="extraData">
        <img src="" alt="Cogwheel Icon" />
        <div>
          <label for="userNotificacions">Notifications</label>
          <input type="checkbox" id="userNotificacions" name="userNotificacions" />
        </div>
        <div>
          <input type="button" value="Change Password" />
          <input type="submit" value="Save" class="submit-btn" />
        </div>
      </div>
    </section>
    <section id="userCharacteristics">
      <label for="userHeight">Height (m)</label>
      <input type="number" id="userHeight" name="userHeight" [(ngModel)]="user.height" min=0 max=3 required />
      <label for="userWeight">Weight (kg)</label>
      <input type="number" id="userWeight" name="userWeight" [(ngModel)]="user.weight" min=0 max=700 required />
    </section>
    <section>
      <p>Preferences</p>
      <ul>
        <li>
          <label for="vegetarian">Vegetarian</label>
          <input type="checkbox" id="vegetarian" name="vegetarian" value="vegetarian" />
        </li>
        <li>
          <label for="vegan">Vegan</label>
          <input type="checkbox" id="vegan" name="vegan" value="vegan" />
        </li>
        <li>
          <label for="carnivore">Carnivore</label>
          <input type="checkbox" id="carnivore" name="carnivore" value="carnivore" />
        </li>
        <li>
          <label for="keto">Keto</label>
          <input type="checkbox" id="keto" name="keto" value="keto" />
        </li>
      </ul>
    </section>
    <section>
      <p>Restrictions</p>
      <ul>
        <li>
          <label for="lactose">Lactose Intolerance</label>
          <input type="checkbox" id="lactose" name="lactose" value="lactose" />
        </li>
        <li>
          <label for="gluten">Gluten Intolerance</label>
          <input type="checkbox" id="gluten" name="gluten" value="gluten" />
        </li>
      </ul>
    </section>
  </form>
</body>
</html>
